.tituloEncabezado {
  font-size: 24px;
  font-weight: bold;
  color: #585858; }

.body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.descripcionTitulo {
  font-size: 16;
  color: #585858; }

.subtituloProducto {
  font-size: 24px;
  font-weight: bold;
  color: #585858; }

.tituloProductoTiendaEvento {
  font-size: 24px;
  font-weight: bold;
  color: #585858; }

.bottonVerMas {
  border-color: #D6A418;
  background-color: white;
  color: #D6A418;
  font-weight: 600; }

.bottonComprar {
  background-color: #D6A418;
  color: white;
  font-weight: 600; }

.icon {
  color: #D6A418;
  font-size: 24px; }

.productoDescripcion {
  font-size: 18px; }

.colorTexto {
  color: #585858; }

.pruebaHover {
  transition: 500ms; }

.pruebaHover:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

@media only screen and (min-width: 700px) {
  .tituloEncabezado {
    font-size: 36px; }
  .descripcionTitulo {
    font-size: 22px; }
  .subtituloProducto {
    font-size: 32px;
    font-weight: bold;
    color: #585858; } }

header .nav-item {
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%; }

header .marca {
  width: 90px;
  margin-left: 5px; }

@media only screen and (min-width: 700px) {
  header .marca {
    width: 130px; } }

.iconoFooter {
  font-size: 24px;
  color: white; }

.textoPie {
  color: white; }

.fondoFooter {
  background-color: #585858;
  height: 100px; }

.contenedorFooter {
  margin-top: auto; }

.tituloHUno {
  font-size: 28px;
  font-weight: bold; }

.descripcionBanner {
  font-size: 16; }

.imagenFondo {
  width: 100%;
  background-image: url(../imagenes/fondoRosaCelu.jpg);
  background-size: contain;
  background-repeat: no-repeat; }

.bgDorado {
  background-color: #bea724; }

.cBlanco {
  color: white; }

.macaronsRosa {
  width: 90%; }

.contenedorFondoProductoCard {
  background-color: #FBFBFB;
  height: 150px;
  width: 150px; }

.contenedorCard {
  border-radius: 12px; }

.iconHome {
  width: 100px; }

.descripcionIcon {
  font-weight: bold;
  font-size: 16; }

.imagenAvatar {
  height: 170px;
  transform: translate(0%, -60%); }

.descripcionAvatar {
  font-size: 14px; }

.imagenEstrellas {
  width: 100px; }

.contenedorFondoAvatar {
  background-color: #FBFBFB;
  height: 250px;
  border-radius: 12px; }

@media only screen and (min-width: 700px) {
  .imagenFondo {
    background-image: url(../imagenes/fondoRosaDos.jpg); }
  .tituloHUno {
    font-size: 48px; }
  .descripcionBanner {
    font-size: 24px; }
  .imagenAvatar {
    height: 200px; }
  .contenedorFondoAvatar {
    height: 250px; }
  .descripcionAvatar {
    font-size: 18px; }
  .imagenEstrellas {
    width: 150px; }
  .contenedorFondoProductoCard {
    background-color: #FBFBFB;
    height: 170px;
    width: 170px; }
  .iconHome {
    width: 120px; }
  .descripcionIcon {
    font-weight: bold;
    font-size: 18px; } }

.imagenTeHebras {
  width: 70%; }

.imagenCafe {
  width: 100%; }

.descripcionTexto {
  font-size: 16; }

@media only screen and (min-width: 700px) {
  .descripcionTexto {
    font-size: 18px; } }

.sectionCupcakePanificados .contenedorFondoProducto {
  background-color: #FBFBFB;
  height: 210px;
  border-radius: 12px; }
  .sectionCupcakePanificados .contenedorFondoProducto .contenedorImagenProducto {
    height: 50%; }
  .sectionCupcakePanificados .contenedorFondoProducto .imagenProducto {
    transform: translate(0%, -45%); }

.sectionCupcakePanificados .contenedorInfoProducto .precioProducto {
  font-size: 14px;
  font-weight: bold;
  color: #585858; }

.sectionCupcakePanificados .contenedorInfoProducto .nombreProducto {
  font-size: 18px;
  font-weight: bold;
  color: #585858; }

.sectionPackDulzuras .contenedorFondoProductoHorizontal {
  background-color: #FBFBFB;
  height: 210px; }

.contenedorInfoProductoDulzuras .nombreProductoDulzuras {
  font-size: 22px;
  font-weight: bold;
  color: #585858; }

.contenedorInfoProductoDulzuras .descripcionProductoDulzuras {
  font-size: 14px;
  color: #585858; }

.contenedorInfoProductoDulzuras .precioProducto {
  font-size: 14px;
  font-weight: bold;
  color: #585858; }

@media only screen and (min-width: 700px) {
  .sectionCupcakePanificados .contenedorFondoProducto {
    height: 270px; }
    .sectionCupcakePanificados .contenedorFondoProducto .contenedorImagenProducto {
      height: 50%; }
    .sectionCupcakePanificados .contenedorFondoProducto .imagenProducto {
      transform: translate(0%, -50%); }
  .sectionCupcakePanificados .contenedorInfoProducto .precioProducto {
    font-size: 18px;
    font-weight: bold;
    color: #585858; }
  .sectionCupcakePanificados .contenedorInfoProducto .nombreProducto {
    font-size: 22px;
    font-weight: bold;
    color: #585858; }
  .contenedorInfoProductoDulzuras .nombreProductoDulzuras {
    font-size: 28px;
    font-weight: bold; }
  .contenedorInfoProductoDulzuras .descripcionProductoDulzuras {
    font-size: 18px; }
  .sectionPackDulzuras .contenedorFondoProductoHorizontal {
    background-color: #FBFBFB;
    height: 250px; } }

.descripcionContacto {
  font-size: 18px; }

#floatingTextarea {
  height: 100px; }

.datosContacto {
  font-size: 14px; }

@media only screen and (min-width: 700px) {
  .descripcionContacto {
    font-size: 22px; }
  .datosContacto {
    font-size: 18px; } }

.imagenBox {
  width: 80%;
  border-radius: 12px; }

.subtituloContiene {
  font-weight: bold;
  font-size: 22px; }
