.tituloEncabezado {
  font-size: 38px;
  font-weight: bold;
  color: #3C3C3B; }

.body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.subtituloProducto {
  font-size: 28px;
  font-weight: bold;
  color: #3C3C3B; }

.tituloProductoTiendaEvento {
  font-size: 24px;
  font-weight: bold; }

.bottonVerMas {
  border-color: #D6A418;
  background-color: white;
  color: #D6A418;
  font-weight: 600; }

.bottonComprar {
  background-color: #D6A418;
  color: white;
  font-weight: 600; }

.icon {
  color: #D6A418;
  font-size: 24px; }

.productoDescripcion {
  font-size: 18px; }

.contenedorCard {
  border-radius: 12px; }

header .nav-item {
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%; }

header .marca {
  width: 150px; }

.iconoFooter {
  font-size: 24px;
  color: white; }

.textoPie {
  color: white; }

.fondoFooter {
  background-color: #3C3C3B;
  height: 100px; }

.contenedorFooter {
  margin-top: auto; }

.tituloHUno {
  font-size: 48px;
  font-weight: bold; }

.descripcionBanner {
  font-size: 22px; }

.imagenFondo {
  width: 100%;
  background-image: url(../imagenes/fondoRosaDos.jpg);
  background-size: contain;
  background-repeat: no-repeat; }

.bgDorado {
  background-color: #bea724; }

.cBlanco {
  color: white; }

.macaronsRosa {
  width: 90%; }

.descripcionTitulo {
  font-size: 22px; }

.contenedorFondoProductoCard {
  background-color: #FBFBFB;
  height: 200px; }

/* .contenedorIconHome {
    width: 100px;
    background-color: rgb(75, 197, 197);
} */
.iconHome {
  width: 150px; }

.descripcionIcon {
  font-weight: bold;
  font-size: 18px; }

.imagenAvatar {
  height: 230px;
  transform: translate(0%, -50%); }

.descripcionAvatar {
  font-size: 18px; }

.imagenEstrellas {
  width: 150px; }

.imagenTeHebras {
  width: 70%; }

.imagenCafe {
  width: 100%; }

.sectionCupcakePanificados .contenedorFondoProducto {
  background-color: #FBFBFB;
  height: 300px; }
  .sectionCupcakePanificados .contenedorFondoProducto .contenedorImagenProducto {
    height: 120px; }
  .sectionCupcakePanificados .contenedorFondoProducto .imagenProducto {
    transform: translate(0%, -50%); }

.sectionCupcakePanificados .contenedorInfoProducto .precioProducto {
  font-size: 14px;
  font-weight: bold; }

.sectionCupcakePanificados .contenedorInfoProducto .nombreProducto {
  font-size: 18px;
  font-weight: bold; }

.sectionPackDulzuras .contenedorFondoProductoHorizontal {
  background-color: #FBFBFB;
  height: 250px; }

.contenedorInfoProductoDulzuras .nombreProductoDulzuras {
  font-size: 28px;
  font-weight: bold; }

.contenedorInfoProductoDulzuras .descripcionProductoDulzuras {
  font-size: 18px; }

.contenedorInfoProductoDulzuras .precioProducto {
  font-size: 14px;
  font-weight: bold; }

.descripcionContacto {
  font-size: 24px; }

#floatingTextarea {
  height: 100px; }

.datosContacto {
  font-size: 18px; }

.imagenBox {
  width: 80%;
  border-radius: 12px; }

.subtituloContiene {
  font-weight: bold;
  font-size: 22px; }
