.descripcionContacto {
    font-size: map-get($tamañosTipo, tipografiaS);
}
#floatingTextarea {
    height: 100px;
}
.datosContacto {
    font-size: map-get($tamañosTipo, tipografiaXS);
}
@include mediaQueryTablet {
    .descripcionContacto {
        font-size: map-get($tamañosTipo, tipografiaM);
    }
    .datosContacto {
        font-size: map-get($tamañosTipo, tipografiaS);
    }
}
