.sectionCupcakePanificados {
    .contenedorFondoProducto{
        background-color: #FBFBFB;
        height: 250px;
        border-radius: 12px;
        
        .contenedorImagenProducto {
            height: 50%;
        }
            .imagenProducto {
            transform: translate(0%, -45%);
            }
        }
        .contenedorInfoProducto {
            .precioProducto {
                font-size: map-get($tamañosTipo, tipografiaXS);
                font-weight: bold;
                color: $colorPrincipal;
            }
            .nombreProducto {
                font-size: map-get($tamañosTipo , tipografiaS);
                font-weight: bold;
                color: $colorPrincipal;
            }
        }
    }


.sectionPackDulzuras {
    .contenedorFondoProductoHorizontal {
        background-color: #FBFBFB;
        height: 210px;
    }
}

.contenedorInfoProductoDulzuras {
    .nombreProductoDulzuras {
        font-size: map-get($tamañosTipo , tipografiaM);
        font-weight: bold;
        color: $colorPrincipal;
    }
    .descripcionProductoDulzuras {
        font-size: map-get($tamañosTipo , tipografiaXS);
        color: $colorPrincipal;
    }
    .precioProducto {
        font-size: map-get($tamañosTipo, tipografiaXS);
        font-weight: bold;
        color: $colorPrincipal;
    }
}

@include mediaQueryTablet {
    .sectionCupcakePanificados {
        .contenedorFondoProducto{
            height: 270px;

            .contenedorImagenProducto {
                height: 50%;
            }
                .imagenProducto {
                    transform: translate(0%, -50%);
                }
        }    
    }
    .contenedorInfoProductoDulzuras {
        .nombreProductoDulzuras {
            font-size: map-get($tamañosTipo , tipografiaLB);
            font-weight: bold;
        }
        .descripcionProductoDulzuras {
            font-size: map-get($tamañosTipo , tipografiaS);
        }
    }
    .sectionPackDulzuras {
        .contenedorFondoProductoHorizontal {
            background-color: #FBFBFB;
            height: 250px;
        }
    }
    
}
