.tituloHUno {
    font-size:map-get($tamañosTipo, tipografiaLC);
    font-weight: bold;
}

.descripcionBanner {
    font-size:map-get($tamañosTipo, tipografiaS);
}


.imagenFondo {
    width: 100%;
    background-image: url(../imagenes/fondoRosaDos.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
.bgDorado {
    background-color: rgb(190, 167, 36);
}
.cBlanco {
    color: rgb(255, 255, 255);
}

.macaronsRosa{
    width: 90%;
}

.contenedorFondoProductoCard {
    background-color: #FBFBFB;
    height: 200px;
}

.iconHome {
    width: 150px;
}
.descripcionIcon {
    font-weight: bold;
    font-size: map-get($tamañosTipo, tipografiaS);
}
.imagenAvatar {
    height: 230px;
    transform: translate(0%, -50%);
}
.descripcionAvatar {
    font-size: map-get($tamañosTipo, tipografiaS);
}
.imagenEstrellas {
    width: 150px;
}

@include mediaQueryTablet {
    .tituloHUno {
        font-size: map-get($tamañosTipo, tipografiaXXL);
    }
    .descripcionBanner {
        font-size: map-get($tamañosTipo, tipografiaL);
    }
}
