.tituloHUno {
    font-size:map-get($tamañosTipo, tipografiaLB);
    font-weight: bold;
}

.descripcionBanner {
    font-size:map-get($tamañosTipo, tipografiaXSB);
}


.imagenFondo {
    width: 100%;
    background-image: url(../imagenes/fondoRosaCelu.jpg);
    background-size:contain;
    background-repeat: no-repeat;

}
.bgDorado {
    background-color: rgb(190, 167, 36);
}
.cBlanco {
    color: rgb(255, 255, 255);
}

.macaronsRosa{
    width: 90%;
}

.contenedorFondoProductoCard {
    background-color: #FBFBFB;
    height: 150px;
    width: 150px;
}
.contenedorCard {
    border-radius: 12px;
}

.iconHome {
    width: 100px;

}
.descripcionIcon {
    font-weight: bold;
    font-size: map-get($tamañosTipo, tipografiaXSB);
}
.imagenAvatar {
    height: 170px;
    transform: translate(0%, -60%);
}
.descripcionAvatar {
    font-size: map-get($tamañosTipo, tipografiaXS);
}
.imagenEstrellas {
    width: 100px;
}
.contenedorFondoAvatar {
    background-color: #FBFBFB;
    height: 250px;
    border-radius: 12px;
}


@include mediaQueryTablet {
    .imagenFondo {
        background-image: url(../imagenes/fondoRosaDos.jpg);
    }
    .tituloHUno {
        font-size: map-get($tamañosTipo, tipografiaXXL);
    }
    .descripcionBanner {
        font-size: map-get($tamañosTipo, tipografiaL);
    }
    .imagenAvatar {
        height: 200px;
    }
    .contenedorFondoAvatar {
        height: 250px;
    }
    .descripcionAvatar {
        font-size: map-get($tamañosTipo, tipografiaS);
    }
    .imagenEstrellas {
        width: 150px;
    }
    .contenedorFondoProductoCard {
        background-color: #FBFBFB;
        height: 170px;
        width: 170px;
    }
    .iconHome {
        width: 120px;
    }
    .descripcionIcon {
        font-weight: bold;
        font-size: map-get($tamañosTipo, tipografiaS);
    }
}
