.tituloHUno {
    font-size: 48px;
    font-weight: bold;
}
.descripcionBanner {
    font-size: 22px;
}
.imagenFondo {
background-image: url(../imagenes/fondoRosa.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.bgDorado {
    background-color: rgb(190, 167, 36);
}
.cBlanco {
    color: rgb(255, 255, 255);
}

.macaronsRosa{
    width: 90%;
}

