.imagenTeHebras {
    width: 80%;
}
.imagenCafe {
    width: 100%;
}

.descripcionTexto {
    font-size: 14px; 
}
@include mediaQueryTablet {
    .descripcionTexto {
        font-size: map-get($tamañosTipo, tipografiaXS);
    }  
}
