.imagenTeHebras {
    width: 70%;
}
.imagenCafe {
    width: 100%;
}

.descripcionTexto {
    font-size: map-get($tamañosTipo, tipografiaXSB); 
}
@include mediaQueryTablet {
    .descripcionTexto {
        font-size: map-get($tamañosTipo, tipografiaS);
    }  
}
