.iconoFooter {
    font-size: 24px;
    color: white;
}
.textoPie {
    color: white;
}
.fondoFooter {
    background-color: $colorPrincipal;
    height: 100px;
}

.contenedorFooter {
    margin-top: auto;
}