.body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tituloEncabezado {
    @extend %tituloEncabezadoPagina;
}
.descripcionTitulo {
    font-size: map-get($tama単osTipo, tipografiaXSB);
    color: $colorPrincipal;
}
.subtituloProducto{
    @include subtituloProductoSecciones (24px, bold, $colorPrincipal);
}

.tituloProductoTiendaEvento {
    font-size: 24px;
    font-weight: bold;
    color: $colorPrincipal;
}
.bottonVerMas {
    border-color: $colorAcento;
    background-color: white;
    color: $colorAcento;
    font-weight: 600;
}
.bottonComprar {
    background-color: $colorAcento;
    color: white;
    font-weight: 600;
}
.icon {
    color: $colorAcento;
    font-size: 24px;
}
.productoDescripcion {
    font-size: map-get($tama単osTipo, tipografiaS);
}
.colorTexto {
    color: $colorPrincipal;
}

.pruebaHover {
    transition: 500ms;
}
.pruebaHover:hover {
    transform: scale(1.1 , 1.1);
    z-index: 2;
}

@include mediaQueryTablet {
    .tituloEncabezado {
        font-size: map-get($tama単osTipo, tipografiaXL);
    }
    .descripcionTitulo {
        font-size: map-get($tama単osTipo, tipografiaM);
    }
    .subtituloProducto{
        @include subtituloProductoSecciones (32px, bold, $colorPrincipal);
    }
    
}
