header {
    .nav-item {
        font-size: 22px;
        padding-left: 1%;
        padding-right: 1%;
        }
    .marca {
        width: 90px;
        margin-left: 5px;
        }
}
@include mediaQueryTablet {
    header {
        .marca {
            width: 130px;
        }
     }

}
