$colorAcento:#D6A418;
$colorPrincipal:#585858;

%tituloEncabezadoPagina {
    font-size: 28px;
    font-weight: bold;
    color: $colorPrincipal;
}

@mixin subtituloProductoSecciones ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

$tamañosTipo: (
    tipografiaXS: 14px,
    tipografiaXSB: 16,
    tipografiaS: 18px,
    tipografiaM: 22px,
    tipografiaL: 24px,
    tipografiaLB: 28px,
    tipografiaLC: 32px,
    tipografiaXL: 36px,
    tipografiaXXL: 48px,
);

@mixin mediaQueryTablet {
    @media only screen and (min-width: 700px) {
        @content
    }
};